* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #f1f5f9;
}
nav {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.logo {
  color: rgb(49, 49, 238);
  font-size: 1.5rem;
}
.nav-center {
  background: #fff;
  height: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-links {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.link {
  color: #222;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  text-decoration: none;
}
.link:hover {
  color: blue;
}
.box {
  background: #000;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  padding: 0.5rem;
}
.color {
  color: blue;
}
.btn {
  background-color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1.5rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.btn:hover {
  background: #000;
  color: #fff;
}
